/* 1 */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.box { background: lightblue; height: 80px; }



/* 2 */
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.big { grid-column: span 2; background: orange; }



/* 3 */
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
}
.tall { grid-row: span 2; background: pink; height: 100px; }



/* 4 */
.textgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}