div{
    width: 10px;
    height: 30px;
    background-color: black;
    animation: progressBar 3s;
}

@keyframes progressBar{
    0%{
        width: 10px;
    }
    100%{
        width: 500px;
    }
}