body{
    animation: bodyBg 5s;
}

@keyframes bodyBg{
    0%{
        background-color: white;
    }
    25%{
        background-color: red;
    }
    50%{
        background-color: green;
    }
    75%{
        background-color: purple;
    }
    100%{
        background-color: blue;
    }
}