#div1 {
    background-color: black;
    width: 300px;
    height: 300px;
    margin: 20px;
    transition: transform 0.5s ease;
    transform: skew(10deg);
}

#div1:hover {
    transform: skew(0deg);
    transition: all;
}