/* 1 */
#div-1{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    z-index: 1;
}
#div-2{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 50px;
    left: 50px;
}


/* 2 */
img{
    position: absolute;
}
#img-1{
    top: 200px;
    left: 200px;
}
#img-2{
    top: 300px;
    left: 300px;
}
#img-3{
    top: 400px;
    left: 400px;
}


/* 3 */
body {
    background: linear-gradient(90deg,rgba(255, 0, 0, 1) 50%, rgba(255, 229, 0, 1) 100%);
}


/* 4 */
body {
    background: radial-gradient(circle,rgba(0, 30, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}


/* 5 */
but-1{
    background: radial-gradient(circle,rgba(0, 30, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}


/* 6 */
#parent{
    width: 200px;
    height: 100px;
    background-color: aqua;
}
#child{
    width: 50%;
    height: 100px;
    background-color: blueviolet;
}


/* 7 */
#text{
    text-align: 2rem;
}


/* 8 */
div{
    width: 100px;
    height: 100px;
    background-color: green;
}
@media screen and (max-width: 500px){
    div{
        background-color: red;
    }
}


/* 9 */
@media screen and (max-width: 500px){
    body{
        text-align: center;
    }
}


/* 10 */
img{
    width: 400px;
}
@media screen and (max-width: 750px){
    img{
        width: 200px;
    }
}



/* 11 */
/* div{
    min-width: 300px;
    width: 80%;
    height: 50vh;
    background-color: greenyellow;
} */